@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
}
.loader {
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  background: url("/quote.svg") no-repeat center;
  background-size: 4rem;
  animation: fade 1s infinite alternate;
}
